body {
    background-color: rgb(11, 55, 54);
}

#main-container {
    width: 60%;
    margin: 0 auto;
}

.title-1 {
    font-size: 36px;
    font-family: monospace;
}

.sub-title-1 {
    font-size: 10px;
}

.light-yellow-font {
    color: rgb(215, 213, 153);
}

.dark-blue-font {
    color: rgb(18, 74, 104);
}

.nav-tabs > li > a {
    background: linear-gradient(#164e4d, #0d3736);
    border-color: #0d3736;
    min-width: 100px;
    color: #d7d599;
    text-align: center;
}
.nav-tabs > li.active > a:hover {
    background: #d7d599;
    border-color: #d7d599;
    color: #164e4d;
}

.nav-tabs > li.active > a {
    background: #d7d599;
    border-color: #d7d599;
    color: #164e4d;
}
.nav-tabs > li > a:hover {
    border-color: #0d3736;
    background: radial-gradient(closest-side at 50% 60%, #164e4d, #0d3736);
}

.inner-tabs-nav {
    padding-top: 5px;
    background: #d7d599;
}
.inner-tabs-nav ul {
    height: 20px;
}
.inner-tabs-nav ul li {
    font-size: 12px;
    min-width: 150px;
    float: left;
}

.inner-tabs-content {
    margin-top: 20px;
}

.bulletin {
    border-radius: 8px;
    background: #0d2f2e;
    color: #d7d599;
    position: relative;
    padding-bottom: 15px;
}

.bulletin-sub-title {
    background: #d7d599;
    border-radius: 6px;
    min-height: 24px;
    max-width: 240px;
    align-content: center;
    text-align: center;
    white-space: nowrap;
}

.bulletin-sub-title-head {
    background: #0d403f;
    padding-top: 1px;
    height: 20px;
    border-radius: 6px;
}

.bulletin-content {
    margin-bottom: 10px;
}

.bulletin-layout {
    width: 100%;
}
.bulletin-layout td {
    width: 50%;
}
.bulletin-layout img {
    margin: 5px 0;
    margin-left: 15px;
}

.bulletin-content .table.table-striped td {
    font-size: 11px;
    line-height: 12px;
    border: none;
}

.table.table-striped.table-with-price tr:nth-child(oven) td:last-child {
    border-left: 1px solid #0d4645;
    width: 35%;
}
.table.table-striped.table-with-price tr td:last-child {
    border-left: 1px solid #0e3433;
    width: 35%;
}

.up-a-little {
    position: relative;
    top: -5px;
    left: 15px;
}

.paragraph {
    margin-top: 10px;
}
.paragraph-title {
    margin-left: 4%;
    border-bottom: 1px dotted #0d403f;
    width: 92%;
}
.paragraph-title-pic > img {
    margin-top: -20px;
}

.paragraph-title>div {
    display: inline-block;
}

.paragraph-title-banner {
    width: 90%;
}

.paragraph-title-header {
    color: #124a68;
}
.paragraph-title-header-sub {
    font-size: 10px;
}
.paragraph-title-header-sub > div {
    float: right;
}

.paragraph-content {
    font-size: 10px;
    padding: 0 20px;
}
